.idea
.ipynb_checkpoints
.vscode
launch.json
settings.json
build
convert_output
data
dist
lf_to_stk.egg-info
meta_data
more_outputs
new_output
output
output_*
raw_linked
research_notebooks/high_resolution_images
research_notebooks/preview
research_notebooks/to_annotate
research_notebooks/nohup.out
*.zip
test.
__pycache__
nohup.out

# debug for qirui
*/__pycache__
convert_output
output_all
room_type_1582868012.csv
texture_type_1582868012.csv
data_release/
outputs
hole_filled
object_added